<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DynAPI</title>
{#    <link href="https://fonts.cdnfonts.com/css/dejavu-serif" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}" />
</head>
<body>
    <h1 id="title">
        Dyn<span>API</span>
    </h1>
    <div id="links">
        {% if swagger %}
        <a id="swagger" href="/swagger">
            <h2>Swagger</h2>
            <img src="{{ url_for("static", filename="assets/swagger-logo.svg") }}" alt="Swagger" />
        </a>
        {% endif %}
        {% if docs %}
        <a id="docs" href="/docs/">
            <h2>DynAPI-Docs</h2>
            <img src="{{ url_for("static", filename="assets/DynAPI.svg") }}" alt="ReadTheDocs" />
        </a>
        {% endif %}
        {% if redoc %}
        <a id="redoc" href="/redoc">
            <h2>ReDoc</h2>
            <img src="{{ url_for("static", filename="assets/redoc-logo.png") }}" alt="ReDoc" />
        </a>
        {% endif %}
    </div>
</body>
</html>
